<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ims.repository.ProductMapper">
  <!-- 商品登録 -->
  <insert id="insertProduct"
    parameterType="ims.entity.Product"
    useGeneratedKeys="true"
    keyProperty="id"
    keyColumn="id">
    INSERT INTO product_entity (
        name,
        category_id,
        color_id,
        price,
        stock,
        description,
        image_name,
        image_path
    ) VALUES (
        #{name},
        #{categoryId},
        #{colorId},
        #{price},
        #{stock},
        #{description},
        #{imageName},
        #{imagePath}
    )
  </insert>
  
  <!-- 商品リスト取得 -->
  <select id="getProductList" resultType="ims.entity.Product">
    SELECT
        id,
        name,
        category_id,
        color_id,
        price,
        stock,
        image_name,
        image_path
    FROM
        product_entity
    WHERE
        deleted_at IS NULL
    ORDER BY
        category_id ASC,
        id ASC
  </select>
 
  <!-- 商品データ取得 -->
  <select id="getProduct" resultType="ims.entity.Product">
    SELECT
        id,
        name,
        category_id,
        color_id,
        price,
        stock,
        description,
        image_name,
        image_path
    FROM
        product_entity
    WHERE
        id = #{id}
    ORDER BY
        category_id ASC,
        id ASC
  </select>
  
  <!-- 商品データ更新 -->
  <update id="updateProduct" parameterType="ims.entity.Product">
    UPDATE
        product_entity
    SET
        name = #{name},
        category_id = #{categoryId},
        color_id = #{colorId},
        price = #{price},
        stock = #{stock},
        description = #{description},
        image_name = #{imageName},
        image_path = #{imagePath},
        updated_at = CURRENT_TIMESTAMP
    WHERE
        id = #{id}
  </update>
  
  <!--  商品データ削除 -->
  <update id="deleteProduct" parameterType="ims.entity.Product">
    UPDATE
        product_entity
    SET
        updated_at = CURRENT_TIMESTAMP,
        deleted_at = CURRENT_TIMESTAMP
    WHERE
        id = #{id}
  </update>
</mapper>