@charset "UTF-8";

/* --------------

Common to all pages

------------------*/
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: "sans-serif";
  font-size: 1.2rem;
}

.header-area {
  width: 100%;
  height: 50px;
}

h1 {
  font-size: 1.8rem;	
}

h2 {
  color: #333;
  font-size: 1.6rem;
}

.btn {
  color: #eee;
  font-size: 1.2rem;
  background-color: #446688;
  min-width: 80px;
  padding: 2px 3px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #ccebff;
  color: #10438c;
}

.link {
  color: #2477A9;
  text-decoration: none;
}

.link:hover {
  color: #112F41;
  text-decoration: underline;
}

.navbar {
  margin-left: calc(50vw + 40px);
}

.link-to-list {
  margin-top: 8px;
}

.navlink.active {
  border-bottom: 1px solid;
  border-bottom-width: 3px;
}

/** ---------------------------

 Register Page
 
---------------------------- */
.content-box {
  max-width: 750px;
  margin-top: 20px;
}

/** ---------------------------

Product list page
 
---------------------------- */
.no-item-msg {
  width: 100px;
  margin: 20px auto;
}

.items-count {
  width: 180px;
}

.list-content {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;	
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;	
}

.table-style {
  width: 100%;
}

.update-btn, .register-btn {
  padding: 0;
}

.table-headding {
  background-color: rgb(151, 194, 204);
}

.image-col {
  width: 180px;
}

.image > img {
  max-height: 100px;
}

.name-col {
  width: 150px; 
}

.qty-col {
  width: 60px;
}

.alert {
  width: 370px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.btn-icon {
  border: none;
  background-color: transparent;
  color: #2477A9;
}

.btn-icon:hover {
  color: #112F41;
}

