<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Inventory Management</title>
  </head>
  <body>
    <header th:fragment="header" class="d-flex justify-content-between mt-2">
      <div class="logo d-flex" style="width:400px;">
        <img src="../static/images/logo.png"
          alt="logo with birds and flowers">
        <span class="app-name" style="width:300px;">在庫管理</span>
      </div>
      <nav class="d-flex justify-content-end px-5">
        <div class="navlink">
          <a class="link" href="http://localhost:8080/product-registration">
            <i class="fa-regular fa-pen-to-square"></i>
            登録
          </a>
        </div>
        <div class="mx-4 navlink">
          <a class="link" href="http://localhost:8080/product-list">
            <i class="fa-regular fa-rectangle-list"></i>
            リスト
          </a>
        </div>
      </nav>
    </header>
  </body>
</html>