<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>在庫管理</title>
  </head>
  <body>    
    <!-- Delete confirmation modal taken from Bootstrap5 -->
    <div th:fragment="modal" class="modal fade" th:id="'del-' + ${item.id}"
      tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
 	    <div class="modal-content px-2 py-2">
	      <div class="d-flex justify-content-end">
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        削除してよろしいですか？
	        <div class="d-flex justify-content-center mt-4">
	          <button type="button" class="btn update-btn mx-2" data-bs-dismiss="modal">キャンセル</button>
	          <button type="submit" name="_method"
	          th:formaction="@{/delete}" class="btn update-btn">削除</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
  </body>
</html>