<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet"
	  th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  </head>
  <body>
    <div th:replace="~{header :: header}"></div>
    <main class="container-fluid mt-3">
      <h2 class="text-center">Product List</h2>
    </main>
  </body>
</html>